Practise.c
Practise.exe
Practise1.c
Practise1.exe
abc.c
abc.exe
xyz.c
xyz.exe
s_max_min.c
rev_stack_linklist.c
.vscode
aloo.c
test.c
test.exe
dupli_arr.c
dupli_arr.exe
infixtopostfix.c
infixtopostfix.exe
eval_postfix.c
eval_postfix.exe
p1.c
p1.exe
queue.c
sss.c
sss.exe
www.c
www.exe
xxx.c
xxx.exe
xxx1.c
xxx1.exe
zero_arr.c
zero_arr.exe
zero_arr1.c
zero_arr1.exe
circular_que.c

